<p id="notice"><%= notice %></p>

<p>
  <strong>Hora:</strong>
  <%= @consultum.hora %>
</p>

<p>
  <strong>Data:</strong>
  <%= @consultum.data %>
</p>

<%= link_to 'Edit', edit_consultum_path(@consultum) %> |
<%= link_to 'Back', consulta_path %>
